.add-circle-outline {
  height: 24px;
  width: 24px;
}

.add-circle-outline .overlap-group-2 {
  height: 24px;
  position: relative;
}

.add-circle-outline .add-default {
  height: 24px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 24px;
}

.add-circle-outline .rectangle-2 {
  height: 26px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 26px;
}

.add-circle-outline .shape {
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 20px;
}
